__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
pg_data
docs

house_of_refuge/frontend/build
house_of_refuge/frontend/node_modules
staticfiles/

.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
